#landingcard{
    width: 50%;
    margin: 150px auto 0 auto;
    padding: 3%;
    background-color: rgba(240,240,240, 0.5);
}

.card img{
    width: 200px;
    height: 200px;
}

.landinglink{
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.landinglink:hover{
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.landingform{
    display: inline-flex;
    margin: auto;
}

.landingbutton{
    border: none; 
    background-color: white;
    max-width: 100%;
    background: rgba(220,220,220,0.3);
}

#landingcards:hover{
    background: rgba(255,255,255,0.9);
    transition-duration: 0.4s;
}

#landingcards{
    padding: auto;
    height: 18em;
    max-width: 100%;
    background: rgba(240,240,240,0.5);
}

body{
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
}

#wrongpass{
    text-align: center;
    margin: auto;
}

#studentcard{
    width: 50%;
    margin: 20% auto 0 auto;
    background: rgba(220,220,220,0.5);
}

#studentcard p{
    margin: 0 auto 2% auto;
    width: 75%;
    text-align: center;
    padding: 2%;
}

#sums input{
    position: fixed;
    left: 33%;
}