#landingcard{
    width: 50%;
    margin: 150px auto 0 auto;
    padding: 3%;
    background-color: rgba(240,240,240, 0.5);
}

.card img{
    max-width: 200px;
    max-height: 200px;
}

.landingform{
    display: inline-flex;
}
.landingbutton{
    border: none; 
    background-color: white;
}

body{
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
}